.root{
    -fx-background-color: #db908f;
}

.title{
    -fx-font-size: 28px;
    -fx-font-weight: bold;

}

.input-field{
    -fx-font-size: 16px;    
    -fx-padding: 10px;
}

.login-button{
    -fx-font-size: 16px;
    -fx-font-weigth: bold;
    -fx-padding: 10px 20px;
}

.login-button:hover {
    /* Wird angewendet, wenn sich die Maus über dem Login-Button befindet*/
    -fx-background-color: #555555;
    /*Ändert die Schriftfarbe des Buttons auf Weiß*/
    -fx-text-fill: white;
}